@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
    width: 0;
    height: 0;
}
img{
    width: 100vw;
}
.rede-social{
    display: block;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    margin-top: -5px; 
}
.youtube{
    background-color: darkred;
}
.youtube:hover{
    background-color: rgb(219, 15, 15);
}
.github{
    background-color: darkgreen;
}
.github:hover{
    background-color: rgb(12, 168, 12);
}
.instagram{
    background-color: blueviolet;
}
.instagram:hover{
    background-color: rgb(152, 86, 214);
}
.twitter, .facebook{
    background-color: darkblue;
}
.twitter:hover, .facebook:hover{
    background-color: rgb(37, 37, 238);
}